body{
    margin: auto;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: #000524;
}

.menu{
    width: 1100px;
    height: 70px;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

#BiblioEduca{
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    right: 10px;
}
#buttonuno, #buttonduo, #buttontwo{
   width: 200px;
   height: 30px;
   background: #101F78;
   border: none;
   border-radius: 5px;
}

a{
    text-decoration: none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.cardAluno{
    width: 379px;
    height: 338px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border-radius: 10px;
    border: 0px solid #101F78;
    background: #cfcfcf;
    box-shadow: 10px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.orglayoutnomeemal, .orglayoutsenhaetelefone, .orgendereco, .orgloyoutmatriculacurso{
    min-width: 10px;
    min-height: 10px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}


.inputnome, .inputemail, .inputsenha, .inputtelefone, .inputendereco, .inputmatricula, .inputcurso{
    min-width: 20px;
    min-height: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nome, #email, #senha, #telefone, #matricula{
    width: 152px;
    height: 33px;
    outline: none;
    border: none;
    text-align: center;
    border-radius: 10px;
    color: #101F78;
    border: 1px solid #101F78;
    background: #cfcfcf;
}

#curso{
    width: 152px;
    height: 33px;
    outline: none;
    border: none;
    border-radius: 10px;
    color: #101F78;
    border: 1px solid #101F78;
    background: #cfcfcf;
}

#endereco{
    width: 318px;
    height: 32px;
    outline: none;
    text-align: center;
    color: #101F78;
    border-radius: 10.894px;
    border: 1px solid #101F78;
    background: #cfcfcf;
}

#labelnome, #labelemail, #labelsenha, #labeltelefone, #labeltelefone, #labelmatricula{
    position: absolute;
    top: 8px;
    left: 10px;
    color: #101F78;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.buttonadicionarusuario{
    width: 316px;
    height: 36px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    color: white;
}

#adicionarusuario{
    width: 316px;
    height: 36px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background: #101F78;
    color: white;
}

#Titlecadastrousuario{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color:  #101F78;
    margin: 0%;
}

.orggeral{
    background:  #000524;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu{
    width: 1100px;
    height: 70px;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
}

#BiblioEduca{
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    right: 10px;
}
#buttonuno, #buttonduo, #buttontwo{
   width: 200px;
   height: 30px;
   background: #101F78;
   border: none;
   border-radius: 5px;
}

a{
    text-decoration: none;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#Titlecadastrousuario{
  color: #101F78;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.orgtextusuarios, .orgtextlivros{
  width: 1100px;
  height:20px;
  display: flex;
  align-items: end;
  margin: 0%;
  background: #c7cfd22a;
}

#usuariostitle, #titlelivros{
   margin: 0%;
   font-family: Arial, Helvetica, sans-serif;
   color: #cfcfcf;
}

.display{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards{
    width: 100%;    
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
}


.tablesUsuarios{
    max-height: 350px;
    min-width: 600px; 
    width: 50%;
    overflow-y: auto; 
    overflow-x: auto;
}

/* Estiliza a barra de rolagem para navegadores WebKit */
/* Mudar a cor de fundo da barra de rolagem */
::-webkit-scrollbar {
width: 10px; /* Largura da barra de rolagem */
background-color: none; /* Cor de fundo da barra de rolagem */
}

/* Mudar a cor do indicador de rolagem */
::-webkit-scrollbar-thumb {
background-color: #00222e; /* Cor do indicador de rolagem */
border-radius: 5px; /* Borda arredondada */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #101F78;
}
th {
  background-color: #101F78;
  font-family: Arial, Helvetica, sans-serif;
  color: #cfcfcf;
}

td{
  font-family: Arial, Helvetica, sans-serif;
  color: #cfcfcf;
}
tr:hover {
  background-color: #101F78;
  transition: 0.5s;
  opacity: 0.5;
}

.orglayoutnomeemal, .orglayoutsenhaetelefone, .orgloyoutmatriculacurso{
  min-width: 10px;
  min-height: 10px;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.inputnome, .inputemail, .inputsenha, .inputtelefone, .inputmatricula, .inputcurso{
  min-width: 20px;
  min-height: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputendereco{
  min-width: 10px;
  min-height: 10px;
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 10px;
  justify-content: center;
}

#nome, #email, #senha, #telefone, #endereco, #matricula, #curso{
  width: 152px;
  height: 33px;
  outline: none;
  border: none;
  text-align: center;
  border-radius: 10px;
  color: #101F78;
  border: 1px solid #101F78;
  background: #cfcfcf;
}

#endereco{
  width: 318px;
  height: 32px;
  outline: none;
  text-align: center;
  color: #101F78;
  border-radius: 10.894px;
  border: 1px solid #101F78;
  background: #cfcfcf;
}

#labelnome, #labelemail,  #labelsenha, #labeltelefone, #labelendereco, #labelmatricula{
  position: absolute;
  top: 8px;
  left: 10px;
  color: #101F78;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

#adicionarusuario{
  width: 316px;
  height: 36px;
  margin-top: 10px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background: #101F78;
  color: white;
}

.orgfiltro{
  width: 1100px;
  height: 30px;
  margin: 0%;
  display: flex;
  justify-content: right;
}

#turma{
  width: 150px;
  height: 30px;
  border: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  background: #101F78;
}

